<mat-toolbar class="mat-elevation-z6" color="primary" [attr.unselectable]="'on'" (selectstart)="'return false;'">
  <button *ngIf="config.isBack" type="button" (click)="onBack()" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span *ngIf="config.title.isHomeTitle" class="homeTitle">
    <img src="assets/icons/logo.png" />
    <span [innerText]="'application.title' | translate"></span>
  </span>
  <span *ngIf="config.title.isTextTitle" [innerText]="config.title.text | translate"></span>

  <!-- This fills the remaining space of the current row -->
  <span class="remaining-space"></span>

  <button *ngIf="config.isSync" type="button" (click)="onSync()" mat-icon-button>
    <mat-icon>sync</mat-icon>
  </button>
  <button *ngIf="config.isHome" type="button" (click)="onHome()" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>
  <button *ngIf="config.isLogout" type="button" (click)="onLogout()" mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button *ngIf="config.isClose" type="button" (click)="onBack()" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
