/* For use in src/lib/core/theming/_palette.scss */

/* created by http://mcg.mbitson.com/#!?lhblue=%2305164d&lhyellow=%23ffad00&themename=lh */
$md-lhblue: (
    50 : #e1e3ea,
    100 : #b4b9ca,
    200 : #828ba6,
    300 : #505c82,
    400 : #2b3968,
    500 : #05164d,
    600 : #041346,
    700 : #04103d,
    800 : #030c34,
    900 : #010625,
    A100 : #6068ff,
    A200 : #2d38ff,
    A400 : #000df9,
    A700 : #000be0,
    contrast: (
        50 : #000036,
        100 : #000036,
        200 : #000036,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-lhyellow: (
    50 : #fff5e0,
    100 : #ffe6b3,
    200 : #ffd680,
    300 : #ffc64d,
    400 : #ffb926,
    500 : #ffad00,
    600 : #ffa600,
    700 : #ff9c00,
    800 : #ff9300,
    900 : #ff8300,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffddbf,
    A700 : #ffcfa6,
    contrast: (
        50 : #000036,
        100 : #000036,
        200 : #000036,
        300 : #000036,
        400 : #000036,
        500 : #000036,
        600 : #000036,
        700 : #000036,
        800 : #000036,
        900 : #000036,
        A100 : #000036,
        A200 : #000036,
        A400 : #000036,
        A700 : #000036,
    )
);

/* created by http://mcg.mbitson.com/#!?lhgblue=%2305164d&lhgyellow=%23ffad00&themename=lhg */

$md-lhgblue: (
    50 : #e1e3ea,
    100 : #b4b9ca,
    200 : #828ba6,
    300 : #505c82,
    400 : #2b3968,
    500 : #05164d,
    600 : #041346,
    700 : #04103d,
    800 : #030c34,
    900 : #010625,
    A100 : #6068ff,
    A200 : #2d38ff,
    A400 : #000df9,
    A700 : #000be0,
    contrast: (
        50 : #05164d,
        100 : #05164d,
        200 : #05164d,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-lhgyellow: (
    50 : #fff5e0,
    100 : #ffe6b3,
    200 : #ffd680,
    300 : #ffc64d,
    400 : #ffb926,
    500 : #ffad00,
    600 : #ffa600,
    700 : #ff9c00,
    800 : #ff9300,
    900 : #ff8300,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffddbf,
    A700 : #ffcfa6,
    contrast: (
        50 : #05164d,
        100 : #05164d,
        200 : #05164d,
        300 : #05164d,
        400 : #05164d,
        500 : #05164d,
        600 : #05164d,
        700 : #05164d,
        800 : #05164d,
        900 : #05164d,
        A100 : #05164d,
        A200 : #05164d,
        A400 : #05164d,
        A700 : #05164d,
    )
);
