@import 'src/assets/theme/variable';

:host main {
    position: relative;
    top: $actionBarHeight;
}

// .cdk-overlay-container {
//     height: 100vh;
// }

@media (max-width: 599px) {
    :host main {
        top: $actionBarHeight - 10px;
    }
}
