@import "src/assets/theme/variable";

.card {
    margin: 5px;
}

.card > button {
    padding: 15px;
    min-width: 235px;
    width: 100%;
    height: 100%;
    white-space: normal;
    word-wrap: break-word;
    font-size: 24px;
    color: $primary;
}

// .card:last-child > button {
//     width: 235px;
// }

.card p:last-child {
    margin-bottom: 0;
}