<App-action-bar [setupActionBar]="setupActionBar"></App-action-bar>
<div class="full-height">>
    <mat-card *ngIf="!inLogin">
      <div>
        <h2 [innerHtml]="error | translate"></h2>
        <mat-card-content>
          <p [innerHtml]="error_description | translate"></p>
          <div style="text-align: center;">
            <button mat-flat-button color="accent" (click)="onLogin()">
              <mat-icon>forward</mat-icon>
              <span translate>Login</span>
            </button>
          </div>
        </mat-card-content>
      </div>
    </mat-card>
    <mat-card *ngIf="inLogin">
      <mat-card-title>Loading...</mat-card-title>
    </mat-card>
</div>
