/* You can add global styles to this file, and also import other style files */
@import "./assets/theme/variable";

html, body {
    width: 100%;
    height:100%;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

mat-icon {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.full-height {
    height: calc(100vh - 64px);
}